#circle{
  background:cyan;
  border-radius:50px;
  height:60px;
  text-align:center;
  padding-top: 40px;
  width:100px; 
  transition: all 2s;
/*  -webkit-transform-origin: 20% 40%;*/
   -webkit-transform-origin: center bottom;
  
}
#circle:hover{
  /*-webkit-transform:translate(70px, 40px);*/
  /*-webkit-transform: scale(1.5,1.5);*/
  -webkit-transform: rotate(360deg);
  /*-webkit-transform: skew(20deg,20deg);*/
}